<div class="agileits-about-btm">
  <div class="container">
    <div class="w3-flex">
      <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
        <span class="fa fa-graduation-cap  wthree-title-list"
              aria-hidden="true"></span>
        <h4 class="agileinfo-head">Education</h4>
        <h5>Fullstack développeur (js stack)</h5>
        <p>Freecodecamp.</p>
        <h5>Ingénieur informatique</h5>
        <p>Epita</p>
        <h5>Bac +2 informatique</h5>
        <p>Université de Rennes 1</p>
      </div>
      <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
        <span class="fa fa-shield  wthree-title-list"
              aria-hidden="true"></span>
        <h4 class="agileinfo-head">Expertise</h4>
        <h5>Mobile Android Developpeur</h5>
        <p>2012-2017</p>
        <h5>Web Developpeur, Fullstack (php, nodejs)</h5>
        <p>2016-2018</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
