<div class="contact-w3-agileits w3ls-section"
     id="contact">
  <div class="container">
    <h3 class="agileits-title cont-w3l">Contactez moi pour une mission ou un projet</h3>
    <div class="contact-main-w3ls">
      <div class="col-md-6  contact-left-w3ls">
        <div class="mail contact-grid-agileinfo">
          <div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
            <h4>Email</h4>
          </div>
          <div class="col-md-8  col-sm-8 col-xs-8 contact-text-agileinfo">
            <a href="mailto:khacquyet.dang.pro@gmail.com">khacquyet.dang.pro@gmail.com</a>
            <br>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="call contact-grid-agileinfo">
          <div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
            <h4>Phone</h4>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 contact-text-agileinfo">
            <a href="tel:+33679069881">
              <p>+33679069881</p>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="contact-grid-agileinfo">
          <div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
            <h4>Addresse</h4>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 contact-text-agileinfo">
            <p>41 Rue de la Fontaine Grelot
              <br> 92340 Bourg-La-Reine
              <br> France.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="visit wthree-social-icons contact-grid-agileinfo">
          <div class="col-md-4 col-sm-4 col-xs-4 contact-icon-wthree">
            <h4>Suivez moi</h4>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 contact-text-agileinfo">
            <ul class="w3-links">
              <li>
                <a href="https://www.facebook.com/khacquyet.dang"
                   target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/khac-quyet-dang-5146b431/"
                   target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/khacquyetdang"
                   target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="contact-main">
        <div class="col-md-6 agileits-main-right">
          <form action="#"
                method="post"
                class="agile_form">
            <label class="header">Votre nom</label>
            <div class="icon1 w3ls-name1">
              <input placeholder=" "
                     name="first name"
                     type="text"
                     required="">
            </div>
            <div class="icon2">
              <label class="header">Email</label>
              <input placeholder=" "
                     name="Email"
                     type="email"
                     required="">
            </div>
            <label class="header">Votre message</label>
            <textarea class="w3l_summary"
                      required=""></textarea>
            <input type="submit"
                   value="Envoyer">
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
