<div class="col-sm-3 w3_tab_img_left">
  <div class="w3_tab_img_left_inner">
    <div class="demo">
      <a class="cm-overlay"
         href="assets/images/gestion_autoecole.png">
        <figure class="imghvr-shutter-in-out-diag-2">
          <img src="assets/images/gestion_autoecole.png"
               alt=" "
               class="img-responsive" />
        </figure>
      </a>
    </div>
    <div class="agile-gallery-info">
      <h5>Projet personnel</h5>
      <p>Site web pour les moniteurs </p>
      <p>reactjs, php, silex, codeception</p>
    </div>
  </div>
</div>
