<!-- banner -->
<div id="home"
     class="banner">
  <div class="banner-agileinfo">
    <!-- header -->
    <app-menu></app-menu>
    <!-- //header -->
    <!-- general presentation -->
    <app-header></app-header>
  </div>
</div>
<!-- //banner -->
<!-- about -->
<app-aboutme></app-aboutme>
<!-- //about -->
<!-- about-bottom -->
<app-education></app-education>
<!-- //about-bottom -->
<!-- skills -->
<div class="agile-service w3ls-section"
     id="skills">
  <div class="container">
    <div class="col-md-5 w3_agileits-service-left">
      <h3 class="agileits-title">Compétences</h3>
      <p>Après plusieurs années d'expérience en développement, je maitrise bien android et php, les technologies de JS
        en front
        et back (jquery, reactjs, d3js, canvas, express, nodejs)</p>
    </div>
    <div class="col-md-7 skills-right">
      <div class="vertical-skills  pull-right xs-center">
        <ul class="list-inline">
          <li>
            <div class="skill"
                 style="height:75%; background:#009688;">
              <span class="value">85%</span>
            </div>
            <span class="title">Android</span>
          </li>
          <li>
            <div class="skill"
                 style="height:100%; background:#ff9d0d;">
              <span class="value">100%</span>
            </div>
            <span class="title">HTML</span>
          </li>
          <li>
            <div class="skill"
                 style="height:90%; background:#03a9f4;">
              <span class="value">90%</span>
            </div>
            <span class="title">CSS</span>
          </li>
          <li>
            <div class="skill"
                 style="height:80%; background:#b32eca;">
              <span class="value">80%</span>
            </div>
            <span class="title">PHP (silex)</span>
          </li>
          <li>
            <div class="skill"
                 style="height:85%; background:#6361f0;">
              <span class="value">85%</span>
            </div>
            <span class="title">JS </span>
          </li>
        </ul>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-portfolio></app-portfolio>
<!-- contact -->
<app-contact></app-contact>
<!-- //contact -->
<div class="agileits_w3layouts-footer">
  <p>© 2018. All rights reserved
  </p>
</div>

<router-outlet></router-outlet>
