<div class="agile-about w3ls-section text-center"
     id="about">
  <div class="container">
    <h3 class="agileits-title">A propos de moi</h3>
    <div class="agileits-about-grid">
      <p>Je suis développeur mobile/web avec 5 ans d'expérience. J'ai déjà développé beaucoup d'applications mobiles et
        web en
        équipe ou en solo. Durant mon temps libre, je travaille sur mes projets personnels ou me former sur les
        différents technologies.
      </p>
    </div>
    <a href="#contact"
       class="wthree- about-link scroll">Contactez moi</a>
  </div>
</div>
