<div class="header">
  <div class="container">
    <div class="{{menuClass()}}">
      <a href=""
         id="menuToggle"
         title="{{titleMenuToggleAttr()}}"
         (click)="onMenuClick($event)">
        <span class="{{navClass}}"></span>
      </a>
      <nav>
        <a href="#home"
           class="active scroll">Home</a>
        <a href="#about"
           class="scroll">À propos de moi</a>
        <a href="#skills"
           class="scroll">Compétences</a>
        <a href="#gallery"
           class="scroll">Portfolio</a>
        <a href="#contact"
           class="scroll">Contact</a>
        <a href="Dang_Khac_Quyet_CV.pdf"
           download="Dang_Khac_Quyet_CV.pdf">Mon CV</a>

      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->
